@font-face {
  font-family: Oswald-VariableFont_wght;
  
   src: url(../font/Oswald-VariableFont_wght.ttf); 
   
   
   
   
}
.cout11 i{
  font-size: 2.5em !important;
  margin-bottom: 10%;
  margin-top: 10%;
  color: #C2AD76;
}
.slide_right {
  border:none;
  background-position: right;
  background: linear-gradient(to right, #00356f 50%,#632b03 50%) no-repeat scroll right bottom / 210% 100% #007bff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
 
 }



.menua li {
    color: white;
    text-align: center;
    margin-top: 20px;
}

    .menua li a {
        color:white;
        text-decoration: none;
        line-height: 39px;
    }

.menua:hover a {
    color: rgb(166, 0, 255);
}






 .legal1 img{
border: 5px solid #632b03;
 }
.intro {
  height: auto;
  /* min-height: 100vh; */
  text-align: center;
  background-color: teal;
}
.list1a{
  font-family: Oswald-VariableFont_wght;
  /* padding: 0%;*/
} 




.council1{
  font-family: Oswald-VariableFont_wght;
}
.list1b{
  font-family: Oswald-VariableFont_wght;
  font-size: 14px;
  padding: 0px;
  padding-left: 16px;
} 
.list1b a{
  font-family: Oswald-VariableFont_wght;
  font-size: 13px;
} 
.inner li{
font-size: 14px;
}
.list1 li{
  font-family: Oswald-VariableFont_wght;
}
.list1 p{
  font-family: Oswald-VariableFont_wght;
}
.modal-title{
  font-family: Oswald-VariableFont_wght;
}
.logosec{
  font-family: Oswald-VariableFont_wght;
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
  background-color: black;
  color: white;
}

.modal{
  text-align: left;
}
.dropdown-submenu {
  position:relative;
  color: white;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
} 

.otherlink li{
  font-family: Oswald-VariableFont_wght;
  font-size: 13px;
  list-style-type: square;
}
.logosec h5{
  color: #000010;
  text-shadow: 2px 2px 2px 2px #ccc;
  font-weight: 550;
  padding: 20px;
 
}

.logosec h5:first-child{
  color: #000010;
  font-size: 29px;
  text-shadow: 2px 2px 2px 2px #ccc;
  font-weight: 550;
}

.frm1t form{
  font-family: Oswald-VariableFont_wght;
}

@media (max-width:768px){
  .logosec{
    text-align: center;
  }
  .donatebtn1{
    text-align: center;
  }
}